# EDA for Cab Data Analysis

In this notebook, we will perform Exploratory Data Analysis (EDA) on the master dataset created from the provided data files. The objective is to derive actionable insights that will help XYZ in identifying the right cab company for investment.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
# Load the master dataset
master_data = pd.read_csv('/mnt/data/Master_Data.csv')
master_data.head()

## Data Cleaning
Check for missing values and duplicates.

In [ ]:
# Check for missing values
missing_values = master_data.isnull().sum()
missing_values

In [ ]:
# Check for duplicates
duplicates = master_data.duplicated().sum()
duplicates

## Descriptive Statistics
Get an overview of the dataset with basic statistics.

In [ ]:
master_data.describe()

## Visualizations
Create visualizations to understand the data distribution and relationships.

In [ ]:
# Distribution of Price Charged
plt.figure(figsize=(10, 6))
sns.histplot(master_data['Price Charged'], kde=True)
plt.title('Distribution of Price Charged')
plt.xlabel('Price Charged')
plt.ylabel('Frequency')
plt.show()

In [ ]:
# Scatter plot of KM Travelled vs Price Charged
plt.figure(figsize=(10, 6))
sns.scatterplot(data=master_data, x='KM Travelled', y='Price Charged', hue='Company')
plt.title('KM Travelled vs Price Charged')
plt.xlabel('KM Travelled')
plt.ylabel('Price Charged')
plt.show()

In [ ]:
# Box plot of Price Charged by Company
plt.figure(figsize=(10, 6))
sns.boxplot(data=master_data, x='Company', y='Price Charged')
plt.title('Price Charged by Company')
plt.xlabel('Company')
plt.ylabel('Price Charged')
plt.show()